.header nav a{
    margin-right: 20px;
    text-decoration: none;
    color: black;
}
.header nav a:hover{
    color: goldenrod;
}
.link {
    text-decoration: none;
    margin-left: 15px;
    font-size: 20px;
    color: #1e90c2;
    transition: color ease-in-out 300ms;
  }
  
  
  .active-link {
    text-decoration: none;
    margin-left: 15px;
    font-size: 20px;
    transition: color ease-in-out 300ms;
    color: #1b4388;
  }